<nav class="menu-bg">
    <ul class="menu">
        <li>
            <a asp-page="/index">Home</a>
        </li>
        <li>
            <a asp-page="/FeedBacks/index">FeedBacks</a>
        </li>
    </ul>
</nav>