   <table class="table table-striped table-hover" >
  
        <div class="btn-group d-flex justify-content-start" role="group" aria-label="Exemplo de grupo de botões">
            <tr>
                <td><a class="text-primary" asp-page="/Index">Home</a></td>
                <td><a class="text-primary" asp-page="/Cursos/Index">Cursos</a></td>
                <td><a class="text-primary" asp-page="/Cursos/Alunos/Index">Alunos</a></td>
            </tr>
        </div>
        <tr>
</tr>

   </table>
